
body {
    margin: 0;
    padding: 0;
    font-family: Times New Roman;
    background: linear-gradient(to right, #00c6ff, #004cff);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.login-container {
    width: 300px;
    padding: 20px;
    background: white;
    border: 1px solid #bab8b8;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    text-align: center;
}

.task-list-container {
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    background: white;
    border: 1px solid #bab8b8;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    min-height: 80vh;
}

h1, h2 {
    margin-bottom: 10px;
    text-align: center;
}

p {
    margin-bottom: 20px;
}

.task-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}

.sort-options {
    display: flex;
    gap: 18px;
}

form div {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #50b554
}

.logout-button {
    margin-top: auto;
    background-color: #f44336;
}

.logout-button:hover {
    background-color: #d32f2f;
}

.task-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.task-item {
    padding: 10px;
    border: 1px solid #bfbbbb;
    border-radius: 5px;
    list-style: none;
    background-color: white;
}

.task-item.work {
    background-color: #d0e7ff;
}

.task-item.school {
    background-color: #d0ffd6;
}

.edit-task-form input {
    margin-bottom: 5px;
}

.edit-task-form button {
    margin-right: 5px;
}

.task-item.priority h3,
.task-item.priority p {
    color: red;
}

.task-totals {
    margin-bottom: 16px;
    text-align: left;
    font-weight: bold;
}

.task-form {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.task-form input,
.task-form select {
    display: block;
    width: calc(100% - 12px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #bfbbbb;
    border-radius: 4px;
}

.task-form button {
    padding: 10px 20px;
    background-color: #0f82fc;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.task-form button:hover {
    background-color: #065ebd;
}

.task-item {
    margin-bottom: 15px;
    border: 1px solid #0a0a0a
}

.edit-task-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task-form input,
.task-form select,
.task-form button {
    margin-bottom: 10px;
}

.button-group button {
    margin-bottom: 10px;
}